<ion-header>
  <ion-toolbar>
    <ion-title>
      Favorite Foods
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ul>
  <li>Ribs</li> <img src="assets\img\Foods/Ribs.png">
  <li>Hamburger</li> <img src="assets\img\Foods/Hamburger.png">
  <li>Egg Foo Young</li> <img src="assets\img\Foods/Egg_Foo_Young.jpg">
  <li>Angel Food Cake with jello</li> <img src="assets\img\Foods/Angel_Food_Cake.jpg">
  <li>Pork and Seeds</li> <img src="assets\img\Foods/Pork_and_Seeds.jpg">
</ul>
</ion-content>
