<ion-header>
  <ion-toolbar>
    <ion-title>
        My Hobbies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>
      Learning about computers - I'm just generly enthused - I first used a computer in 1st grade and from there I just took off
    </li>
    <li>
      Wrestling - I enjoy it because it doesn't involve a ball (lol I can't catch or throw very good) and its so rewarding - I got into it in 5thgrade when the clubs were being advertised throuout the school
    </li>
    <li>
      Band - I enjoy band because I get to be loud - I also got into it in the 5<sup>th</sup> grade
    </li>
    <li>
      Surround Sounds - I have lots of surround sound systems in practically every room so I guess you could say I collect them - I enjoy them because the audio is great and LOUD - I'm not sure when I got my first one, but I want to say 7<sup>th</sup> grade
    </li>
  </ul>
</ion-content>
